body {
    background: darkblue;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    background: cyan;
    padding: 10px;
}

h1 {
    color: slategrey;
    text-align:center;
}
